@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

$white-color: #ffffff;
$company-shortname-color: #99ffff;
$border-about-section-content: #6698ca;
$button_background_color: #0054a6;
$new_article_section_background_color: #4e95dbb2;
$-blue-primary-600: #003f7d;
$-gray-600: #4d4d4d;

.article_container {
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  --hero-height: 120vh;
  --margin-top-offset: 50px;
  --hexagon-height: 50px;
  --hexagon-width: 200px;
  --hexagon-position-top: 50px;

  .hero_section {
    width: 100%;
    height: var(--hero-height);
  }

  .hexagon_container {
    position: absolute;
    top: var(--hexagon-position-top);
    left: 50%;
    transform: translateX(-50%);
    width: var(--hexagon-width);
    height: var(--hexagon-height);
  }

  .hexagon {
    width: 100%;
    height: 100%;
  }

  .hexagon_border {
    fill: rgba(255, 255, 255, 0.7);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2;
  }

  .text {
    font-family: "Philosopher", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: $button_background_color !important; // Sử dụng !important để kiểm tra
  }

  .article_area {
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    top: calc(var(--hexagon-height) + 2 * var(--hexagon-position-top));
    left: 150px;
    right: 150px;

    .article_carousel_area {
      width: 100%; // Chiếm 100% chiều rộng của cột grid
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .latest_article_area {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.85);
      padding: 20px 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-height: 400px; /* Adjust the height as needed */
      overflow-y: auto;

      .latest_article_area_title {
        //styleName: Roboto/24px: Bold;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        color: $button_background_color;
      }
    }
  }

  .after_hero_section {
    width: 100%;
  }
}
