@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

$white-color: #ffffff;
$company-shortname-color: #99ffff;
$border-about-section-content: #6698ca;
$button_background_color: #0054a6;
$new_article_section_background_color: #4e95dbb2;
$-blue-primary-600: #003f7d;
$-gray-600: #4d4d4d;

.article_container {
  position: relative;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin-bottom: 50px;

  --hero-height: 120vh; /* Định nghĩa biến CSS cho chiều cao của hero_section */
  --margin-top-offset: 50px; /* Định nghĩa giá trị x */
  --hexagon-height: 100px;
  --hexagon-position-top: 50px;

  .hero_section {
    width: 100%; /* Ensure it takes the full width of the container */
    height: var(
      --hero-height
    ); /* Sử dụng biến CSS cho chiều cao của hero_section */
  }

  .hexagon {
    position: absolute;
    top: var(--hexagon-position-top);
    left: 50%;
    transform: translateX(-50%); /* Center horizontally using transform */
    width: 200px; /* Adjust width as needed */
    height: var(--hexagon-height); /* Adjust height as needed */
    background: #ffffff; /* Adjust background color as needed */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: subtle border */

    .text {
      font-family: "Arial", sans-serif; /* Adjust font as needed */
      font-size: 24px; /* Adjust font size as needed */
      color: #0f0f9f; /* Adjust text color as needed */
      font-weight: bold; /* Make the text bold */
    }
  }

  .article_area {
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    top: calc(var(--hexagon-height) + 2 * var(--hexagon-position-top));
    left: 150px;
    right: 150px;

    .article_carousel_area {
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.85);
      padding: 20px 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
    }

    .latest_article_area {
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.85);
      padding: 20px 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
    }
  }

  .after_hero_section {
    width: 100%; /* Ensure it takes the full width of the container */
  }
}
