@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

$white: #ffffff;
$background: #002549cc;
$company-shortname-color: #99ffff;

.footer {
  background-color: $background;
  padding: 30px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  .companyInfo {
    position: relative;
    .companyInforTop {
      display: flex;
      align-items: center;

      .companyName {
        padding: 10px;

        .companyFullName {
          text-transform: uppercase;
          font-size: 12px;
          color: $white;
          margin: 0px;
          line-height: 20px;
        }

        .companyShortName {
          font-family: Helvetica Neue;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $company-shortname-color;
          margin: 0px;
          line-height: 20px;
        }
      }
    }

    .companyInforBottom {
      font-size: 14px;
      color: $white;
      position: absolute;
      bottom: 0;
    }
  }

  .contact {
    color: $white;

    .contac_title {
      font-family: Philosopher;
      font-size: 20px;
      line-height: 30px;
    }

    .contact_item {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 30px;

      .contact_item_icon {
        font-size: 20px;
      }
    }
  }

  .units_of_the_same_system {
    color: $white;

    .units_of_the_same_system_title {
      font-family: Philosopher;
      font-size: 20px;
      line-height: 30px;
    }

    .companyUnitsOfTheSameSystemItem {
      line-height: 30px;
      font-size: 15px;
    }
  }
}
