@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

$white-color: #ffffff;
$company-shortname-color: #99ffff;
$border-about-section-content: #6698ca;
$button_background_color: #0054a6;
$new_article_section_background_color: #4e95dbb2;
$-blue-primary-600: #003f7d;
$-gray-600: #4d4d4d;

.hero_section {
  text-align: center;
  padding-bottom: 50px;

  .hero_section_company_name {
    font-family: Philosopher;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: $white-color;
    margin: 1px;
    padding-top: 32px;
    text-transform: uppercase;
  }

  .hero_section_company_shortname {
    font-family: Helvetica Neue;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.72px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $company-shortname-color;
    margin: 10px 0;
  }
  .hero_section_company_dateofincorporation {
    font-family: Helvetica Neue;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    color: $white-color;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .slider {
    width: 500px; /* Thu nhỏ chiều rộng */
    height: 300px; /* Thu nhỏ chiều cao */
    max-width: 80%; /* Giới hạn chiều rộng tối đa */
    max-height: 50vh; /* Giới hạn chiều cao tối đa */
  }

  img {
    width: 377.06px;
    height: 531.6px;
    top: 0.17px;
    left: 412.88px;
    gap: 0px;
    opacity: 0px;
  }
}

.container {
  padding-left: 150px;
  padding-right: 150px;

  .about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .about_section_content {
      font-size: 20px;
      padding: 40px;
      .title {
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .border_bottom_title {
        margin: 0;
        border-bottom: 5px solid $-blue-primary-600;
        display: block;
        width: 200px;
      }
      .content {
        border-left: 3px solid $border-about-section-content;
        padding-left: 10px;
      }
      .header {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        line-height: 23.44px;
        text-align: left;
      }

      .title {
        font-family: Philosopher;
        font-size: 44px;
        font-weight: 700;
        line-height: 49.28px;
        text-align: left;
      }
    }

    .image_gallery {
      list-style: none;
      position: relative;

      .about_images_1 {
        position: absolute;
        left: 100px;
        bottom: 0;
      }
    }

    .action_area {
      button {
        padding: 10px 20px;
        color: $white-color;
        background-color: $button_background_color;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .new_article_section {
    background-color: $new_article_section_background_color;
    text-align: center;
    padding: 0 150px;

    .subTitle {
      //styleName: Roboto/20px: Medium;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      line-height: 23.44px;
      text-align: center;
      color: $white-color;
      padding-top: 50px;
    }

    .title {
      font-family: Philosopher;
      font-size: 44px;
      font-weight: 700;
      line-height: 49.28px;
      text-align: center;
      margin: 0;
      color: $-blue-primary-600;
    }

    .border_bottom_title {
      margin: 0 auto;
      border-bottom: 5px solid $-blue-primary-600;
      display: block;
      width: 100px;
    }

    .content {
      //styleName: Roboto/20px: Regular;
      font-family: Roboto;
      font-size: 20px;
      font-weight: normal;
      line-height: 23.44px;
      text-align: center;
      color: $white-color;
    }

    .article_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      list-style: none;
      gap: 20px;
      padding: 0;
      padding-bottom: 30px;
    }
  }

  .key_service_section {
    text-align: center;
    padding: 0 150px;

    .subTitle {
      //styleName: Roboto/20px: Medium;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      line-height: 23.44px;
      text-align: center;
      color: $-gray-600;
      padding-top: 50px;
    }

    .title {
      font-family: Philosopher;
      font-size: 44px;
      font-weight: 700;
      line-height: 49.28px;
      text-align: center;
      margin: 0;
      color: $-blue-primary-600;
    }

    .border_bottom_title {
      margin: 0 auto;
      border-bottom: 5px solid $-blue-primary-600;
      display: block;
      width: 200px;
    }

    .content {
      //styleName: Roboto/20px: Regular;
      font-family: Roboto;
      font-size: 20px;
      font-weight: normal;
      line-height: 23.44px;
      text-align: center;
      color: $-gray-600;
    }

    .key_service_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      list-style: none;
      gap: 20px;
      padding: 0;
      padding-bottom: 30px;
    }
  }
}
